/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

html {
    font-size: 62.5%;
}

body {
	background: #d68b90;
}

/***********************************************************************
*                                                                      *
*                     THE TOP HEADER SECTION                           *
*                                                                      *
*                                                                      *
***********************************************************************/

.firstBlock {
	width: 100%;
	float: left;
	overflow: hidden;
}

.logotitle {
	float: left;
	color: white;
	font-family: "Londrina Outline", sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 13em;
	width: 60%;
	margin-left: 1.333rem;
	margin-top: 1rem;

}

.firsttopCircle {
	background: #f05198;
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	margin-left: 92%;
	margin-top: -5rem;
}

.secondtopCircle {
	background: rgb(255, 81, 152, 0.3);
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	margin-left: 94%;
	margin-top: -10rem;
	border: 2px solid rgb(219, 211, 211);
}

.upcycle {
	margin-top: 0;
    clear: both;
	color: rgb(255, 204, 0);
	text-align: center;
	font-size: 14em;
	font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
	letter-spacing: 0.1em;
  }

/*********************************************************************
*                                                                      *
*                     THE MIDDLE SECTION                               *
*                                                                      *
*                                                                      *
***********************************************************************/
.middleBlock {
	clear: both;
	float: left;

}

.lilchelseacircle {
	background: #faeb9c;
	width: 45rem;
	height: 45rem;
	padding-top: 5rem;
	border-radius: 50%;
}

.thelogo {
	display: block;
	margin: 0 auto;
	width: 35rem;
	height: 35rem;
	border-radius: 50%;
}






